body,
html {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.watch {
  --sec: 0;
  --min: 0;
  --hour: 0;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-display: swap;

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  position: relative;
  // ширина вказана для прикладу, дефолтне значення - 100%, щоб годинник був выд розмыр контейнера    
  width: 256px;

  outline: none;

  &:focus {
    border-radius: 100%;
    box-shadow: 0 0 0 5px lightblue;
  }

  &::after {
    content: '';
    display: block;
    padding-top: 100%;
  }

  &__body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: auto;
  }

  &__min {
    stroke: #1a1917;
    // обрахунок
    // stroke-dasharray: 1 calc((3.1415 * 105 * 2 - 60) / 60);
    stroke-dasharray: 1 9.99525;
    stroke-dashoffset: 1;
    stroke-width: 5;

    fill: transparent;
  }

  &__hour {
    stroke: #1a1917;
    // stroke-dasharray: 3 calc((3.1415 * 102 * 2 - 3 * 12) / 12);
    stroke-dasharray: 3 50.4055;
    stroke-dashoffset: 2;
    stroke-width: 12;

    fill: transparent;
  }

  &__arr-sec {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);

    height: 100%;
    animation: sec 60s linear infinite;
    stroke: #e9343f;
    stroke-width: 3px;
    stroke-linejoin: round;
    stroke-linecap: round;
  }

  &__arr-hour,
  &__arr-min {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);

    height: 100%;

    stroke: #050606;
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: round;
  }

  &__arr-min {
    animation: min 3600s linear infinite;
  }

  &__arr-hour {
    animation: hour 43200s linear infinite;
  }


  &__cap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 6%;
    height: 6%;
  }
}

// можливо було згенерувати ці кейфрейми js`ом, але я обрав відмову від IE11 для чистоти коду
@keyframes sec {
  0% {
    transform: translateX(-50%) rotate(var(--sec))
  }

  100% {
    transform: translateX(-50%) rotate(calc(var(--sec) + 360deg))
  }
}

@keyframes min {
  0% {
    transform: translateX(-50%) rotate(var(--min))
  }

  100% {
    transform: translateX(-50%) rotate(calc(var(--min) + 360deg))
  }
}

@keyframes hour {
  0% {
    transform: translateX(-50%) rotate(var(--hour))
  }

  100% {
    transform: translateX(-50%) rotate(calc(var(--hour) + 360deg))
  }
}
